.top{
  height: 105px;
  width: 100%;
  background: #d8d8d8;


}
.small_box{
  height: 85px;
  width: 85px;
  background: #4a90e2;
  margin-left: 25px;
  padding-bottom: 7px;
  position: absolute;
  top: 8px;

}
.row1{
  padding: 60px;
  font-size: 20px;
}
.row2{
  height: 150px;
  background: #4a90e2;
}
.row3{
  height: 150px;
  background: #50e3c2;
}
.row4{
  height: 150px;
  background: #b8e986;
}
.row5{
  height: 150px;
  background: #f8e71c;
}
